<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="ion-padding">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>El secreto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <div>
  <ion-text color="dark">
    <h1>Tu papá tiene el poder</h1>
  </ion-text>
  <ion-button>Yo quiero saber!</ion-button>
  <h1>¿Seguro quieres <strong>saber</strong>?</h1>
  <ion-button expand="block" shape="round">Si! Quiero saber 😭</ion-button>
  <h1><strong>¿Seguro seguro? 🧐</strong></h1>
 
  <ion-text color="tertiary" routerLink="/pagina2">
    <ion-button shape="round">
      <ion-icon slot="start" name="star">
      </ion-icon>
      <p>Sii xfa, dame pene</p>
    </ion-button>
  </ion-text>
 </div>
</ion-content>
