<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="ion-padding">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>El secreto es..</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <div>
  <ion-text color="dark">
    <h1>Ahora sabrás, <strong>tan solo haz click abajo</strong></h1>
  </ion-text>
  <ion-button><ion-icon  name="skull-outline" size="large"></ion-icon><p><strong>comprar curso</strong></p><ion-icon size="large" name="skull-outline"></ion-icon></ion-button>

 </div>
 <div class="container">
  <ion-item>
    <ion-label> <h1>Tan solo los campeones</h1>
      <ion-icon name="medal-outline" size="large"></ion-icon><h1><strong>compran</strong> nuestro curso, <hr>y los perdedores <ion-icon name="trending-down-outline"></ion-icon>
      no <hr>son capaces de mejorar, <hr><strong>¿Qué eres tú?</strong></h1>
        <h3>¿Un puto gay?</h3>
    </ion-label>
  </ion-item>
 </div>
</ion-content>
