<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Chile no prograsará sin Juan Vasca 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
    <ion-text color="darkd">
      <h1>El salón del sexo</h1>
      <p>Donde podrás nacer de nuevo a través de tu  <strong>PAPÁ</strong></p>
    </ion-text>
    <ion-text color="tertiary" routerLink="/pagina1">
      <h4>La siguiente pagina te dirá como...</h4>
    </ion-text>
  </div>
  

</ion-content>
